/* @import "$HOME/.config/colors/colors.css" */

@import "colors.css";



* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0;
}

window,
tooltip {
    background-color: #181825;
}

#waybar {
    background: alpha(#1e1e2e, 0.0);
    border-radius: 0;
}

.modules-left {
    margin-left: 7px;
    background-color: alpha (#1e1e2e, 0.7);
    border-radius: 20px;
    border: 2px solid @pink;
    padding-right: 10px;
    padding-left: 2px
}

.modules-center {
    background-color: alpha (#1e1e2e, 0.7);
    border-radius: 20px;
    padding: 4px
}

.modules-right {
    margin-right: 7px;
    background-color: alpha (#1e1e2e, 0.7);
    border-radius: 20px;
    border: 2px solid @pink;
}

/*workspaces*/

#workspaces button {
	color: @outline;
    box-shadow: none;
	  text-shadow: none;
	  padding: 0px;
	  padding-bottom: 0px;
	  padding-top: 1px;
    border-radius: 9px;
    padding-left: 6px;
    padding-right: 6px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    color: @pink;
    background-color: alpha(#585b70, 0.6);
    border-radius: 20px;
 	  padding-left: 5px;
    padding-right: 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button.active {
	color: @background;
	background-color: alpha(@pink,1);
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    color: @pink;
    border-radius: 10px;
}

#workspaces button.persistent {
	border-radius: 10px;
}


#custom-mpris{
    color: @pink;
}

#custom-mpris:hover {
    background-color: alpha(#585b70, 0.4);
}




#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
    color: #cdd6f4;
    margin: 1px 0;
    padding: 1px 7px;
}

#custom-power:hover {
    background-color: alpha(#a3a5b3, 0.4);
}
#bluetooth:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#clock:hover {
    background-color: alpha(#585b70, 0.6);
}

#bluetooth {
    color: #89b4fa;
    padding-left: 2px;
    padding-right: 4px;
}

#network {
    color: #a6e3a1;
}

#battery {
    color: #c3a6f7; 
}

#pulseaudio {
    color: #fab387;
}

#clock {
    margin-right: 10px;
    color: #89b4fa;
}

#custom-power {
    padding: 0px 10px 0 13px;
    border-radius: 10px;
}
